<div class="release-container">
  <% if release.cover.attached? %>
    <%= link_to release_path(release) do  %>
      <%= image_tag release.cover, class: 'cover', id: release.id.to_s + '_cover' %>
    <% end %>
  <% end %>
  <div class="release-info">
    <%= link_to release.title, release_path(release) %>
  </div>
</div>
