<div class="artist-show-container">
  <div class="artist-show">
    <div class="artist-artist-title">
      <h2><%= @artist.title %></h2>
    </div>
    <div class="artist-show-info">
      <%= @md_description %>

    </div>
  </div>
</div>
