<div class="admin-releases">
  <% Release.active.group_by(&:artist).each do |_, releases| %>
    <% releases.each do |release| %>
      <%= render partial: 'release', locals: { release: release } %>
    <% end %>
  <% end %>
</div>
