<div class="flash-messages">
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <turbo-frame id="flash_toast">
    <%= render('layouts/flash_toast') %>
    </turbo-frame>
  </div>
</div>
