<footer id="footer" class="bg-dark text-center mt-auto">
  <div class="footer-text">
    <a href="mailto:<%= Setting.footer_email %>?subject=Musician cms" class="text-white"><%= '© ' + Setting.footer_email %></a>,
    &nbsp;<%= Setting.footer_year %>
  </div>
</footer>
