<footer id="footer" class="bg-dark text-center mt-auto">
  <div class="col-md-3 mx-auto m-2 text-white">
    <a href="mailto:it.fukurokudzu@gmail.com?subject=Musician cms" class="text-white">it.fukurokudzu@gmail.com</a>,
    &nbsp;2023
  </div>
</footer>