<footer id="footer" class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-slate-800 mb-3">
  <div class="col-md-3 mx-auto m-2 text-white">
    <a href="mailto:it.fukurokudzu@gmail.com?subject=Time tracker demo">it.fukurokudzu@gmail.com</a>,
    &nbsp;2023
  </div>
</footer>