 <div id='player' data-controller="player">
    <audio data-turbo-permanent id="music-player" data-player-target="player" controls
      src="">
        Your browser does not support the
        <code>audio</code> element.
    </audio>
   <div class="player-title">
     <span class="artist-title" data-player-target="artistTitle"></span>
     <span class="track-title" data-player-target="trackTitle"></span>
   </div>
  </div>
